.codeforces {
    width: 350px;
    height: 272px;
    margin: 200px auto;
    border: 1px solid #b9b9b9;
    position: relative;
    box-sizing: border-box;

    border-top-left-radius : 5px;
    border-top-right-radius : 5px;
}

.head {
    width: 278px;
    height: 24.7px;
    color: #3B5998;

    font-size: 1.5rem;
    font-weight: 700;

    padding: 0 0 4.5px 7.5px;
    margin: 3px 0 3px 0;
    box-sizing: border-box;
}

.body {
    margin: 1em;
    box-sizing: border-box;
}

.body-infomation>ul>span {
    color: #03A89E;
}

.body-infomation>ul {
    
    list-style: none;
    padding-inline-start: 0;
    box-sizing: border-box;
}

.body-infomation {
    width: 250px;
    height: 33.45px;
    /* display: inline-block;    */
    /* float: left; */
    box-sizing: border-box;
}

.body-achievement {
    margin-top: 15px;
}

.body-achievement>ul {
    /* font-size: 12px; */
    padding-inline-start: 20px;
    box-sizing: border-box;
}

li {
    display: list-item;
}

.user-photo {
    box-sizing: border-box;
    float: right;
    text-align: center;
    color: #03A89E;
    font-weight: 700;
}